apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: twenty-server-pvc
  namespace: twentycrm
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
